NODE_ENV=

# Application envs
AKLL_BACKEND_URL=http://backend:3000/aklapi
AKLL_CHALLONGE_SERVICE_URL=http://challonge:3002/akll-challonge
AKL_CONFIG_SERVICE_URL=http://config:3005/akl-config/
MONGODB_URI=mongodb://database:27017/akll-match
SPECTATORS_ARRAY=[]